<div class="footer-container footer-expand-md bg-body-light border-top">
  <div class="footer-header">
    Featured
  </div>
  <div class="footer-body">
    <h5 class="footer-title">WanderLust Private Limited </h5>
    <p class="footer-text">WanderLust is a travel company that offers a wide range of travel services, including flight bookings, hotel reservations, and vacation packages. We are committed to providing our customers with the best travel experience possible.</p>
    <a href="#" class="footer-btn"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/pranav69-art" class="footer-btn"><i class="fa-brands fa-github"></i></a>
    <a href="#" class="footer-btn">Privary & terms</a>
  </div>
  </div>